
* {
    box-sizing: border-box;
}

:root {
    /* pallete */
    --clr0: #ffffff;
    --clr1: #c2c1c1;
    --clr2: #c2c2c2;
    --clr3: #606060;
    --clr4: #4f4e4e;
    --clr5: #292929;
    --clr6: #0c0c0c;
    /* bp */
    --s: 475px;
    --m:810px;
    --l: 980px;
}

@font-face {
    font-family: eurof;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

html {
    font-family: lato, serif;
    color: var(--clr4);
    line-height: 1.5;
}

body{
    font-size: 16px;
    margin: 0;
}

.close-model{
    float: right;
    margin-bottom: 20px;
}
.modal {
    display: block;
    justify-content: center;
    background: rgba(214, 210, 210, 0.8);
    position: fixed;
    height: 60vh;
    width: 50vw;
    top: 20%;
    left: 20%;
    border-radius: 10px;
}

.modal.hide-modal{
    display: none;
}

header{
    width: 100%;
    height: 130px;
    box-shadow: inset 0 -6px 0 var(--clr3);
    background-color: var(--clr6);
    color: var(--clr0);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-container, .header-div{
    max-width: var(--s);
    margin-left: auto;
    margin-right: auto;
}

nav li:hover{
    color: greenyellow;
    border-bottom: 10px  solid greenyellow;
}

.card button:hover {
    color: greenyellow;
    border: 2px solid  greenyellow;
} 

.logo{
    font-family: eurof, serif;
    font-size: 2.5em;
}


.logo .point{
    color: green;
}

.main-container {
    border: 1px solid #e1e0e0;
}

img {
    height: 19.1875em;
}

.text-container{
    padding-block-start: 30px;
    height: 19.1875em;
}

.text-title{
    color: var(--clr4);
    font-size: 1.75em;
    width: 13.78em;
    text-transform: uppercase;
}

.text-body{
    line-height: 1.25em;
    width: 27.8125em;
}

.card {
    padding-block-start: 80px;
}

button {
    height: 2.5em;
    width: 135px;
    color: var(---clr1);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    border: 2px solid var(--clr2);
    background-color: var(---clr0);
    border-radius: 10px;
    cursor: pointer;
}

.menu-toggle-btn {
    width: 30px;
}

.next-prev-container {
    text-transform: uppercase;
    font-size: 1.125em;
    padding-block-start: 1.9375em;
    padding-block-end: 1.9375em;
    border-top: 1px solid #e1e0e0;
    margin-block-start: 80px;
}

.next {
    float: right;
    padding-inline-end: 3.125em;
}

.prev {
    float: left;
    padding-inline-start: 3.125em;
}

footer {
    height: 315px;
    background-color: #f8f8f8;
    justify-content: center;
}

.footer-item-container {
    height: 50%;
}
.logo-footer{
    color: var(--clr6);
}

.icon li {
    display: flex;
    margin-inline-end: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #e1e0e0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.facebook:hover {
    background-color: blue;
}

.twitter:hover {
    background-color: aqua;
}

.be:hover {
    background-color: green;
}

.ball:hover {
    background-color: orange;
}

.header-ul {
    position: fixed;
    top: 130px;
    right: 0;
    height: 100vh;
    background: rgb(255 255 255 / 80%);
    color: var(--clr6);
    border-inline-start: 1px solid #ccc;
    min-width: 130px;
    transition: transform .6s, box-shadow .6s;
}

body.menu-open .main-nav ul {
    transform: translateX(0);
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
}

nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    box-shadow: -1px 0 0 var(--clr5);
    cursor: pointer;
}

@media (max-width: 790px) {
    .header-ul {
        transform: translateX(100%);
    }
}

@media (min-width: 790px) {
    .card{
        flex-direction: row;
    }
    .main-container {
        font-size: 12px;
    }
    .text-container{
        padding-block-start: 0;
        padding-inline-start: 40px;
    }
    .menu-toggle-btn {
        display: none;
    }
    .header-ul li{
        color: var(--clr0);
    }
    .header-ul {
        flex-direction: row;
        position: static;
        height: 130px;
        background-color: var(--clr6);
        border-inline-start: 0;
    }
    .main-container, .header-div{
        max-width: var(--m);
    }

}

@media (min-width: 900px) {
    .main-container {
        font-size: 16px;
    }
    .main-container, .header-div{
        max-width: var(--l);
    }
}